/* custom css for daily planner, TWH, 6-19-21 */
/* not using reset.css for this app */

/* styles font-family on all body text etc */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

#clear-btn {
  margin-top: 20px;
  font-size: 25px;
  font-weight: bold;
}

.text {
  background-color: white;
  width: 76%;
  margin-left: 10px;
  border-radius: 10px;
  text-indent: 20px;
}

/* each row for each hour */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* activity save btn for local storage; at far right of each time row */
.save-btn {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding:8px;
}

/* hover event for save btn (user convenience) */
.save-btn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(19, 7, 179);
  cursor: pointer;
}

/* styling border around input field */
.input-group {
  background-color: rgb(19, 7, 179);
  padding: 20px;
  color:white;
  border-radius: 10px;
}

/* where user enters input into form */
.input-group-text {
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 0px;
  padding:20px;
  border-radius: 10px;
}

.hourBlock {
  font-weight: bold;
  color:white
} 