/* custom css for daily planner, TWH, 6-19-21 */
/* not using reset.css for this app */

/* styles font-family on all body text etc */
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* where user enter daily activities */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* area at page top */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* activity description */
.description {
  white-space: pre-wrap;
}

/* square time block at row's left column */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* each row for each hour */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* styles hour */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

/* styles past events (grayed out bg) */
.past {
  background-color: #d3d3d3;
  color: white;
}

/* present hour (red bg) */
.present {
  background-color: #ff6961;
  color: white;
}

/* future hours (green bg) */
.future {
  background-color: #77dd77;
  color: white;
}

/* activity save btn for local storage; at far right of each time row */
.saveBtn {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding:5px;
}

/* hover event for save btn (user convenience) */
.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: green;
  cursor: pointer;
}
